---
import Randomizer from "../components/Randomizer";
import Layout from "../layouts/Layout.astro";
import background from "../assets/background-low.jpg";
---

<Layout title="Mariokart randomizer">
  <h1 class="text-3xl font-bold text-gray-50">Mario kart randomizer</h1>
  <Randomizer client:load />
</Layout>
