---
import { Randomizer } from '../components/Randomizer';
import { characters, gliders, tires, vehicles } from '../gameInfo';
import Page from '../layouts/Page.astro';
---

<Page title="Mariokart randomizer">
	<h1 class="text-center text-3xl font-bold text-gray-50">
		Mario kart setup randomizer
	</h1>
	<Randomizer
		boxes={[characters, vehicles, tires, gliders]}
		initialItem={characters[0]}
		client:load
	/>
</Page>
