---
import Randomizer from '../components/Randomizer';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mariokart randomizer">
	<main class="flex flex-col items-center justify-center gap-6">
		<h1 class="text-2xl font-bold">Mariokart randomizer</h1>
		<Randomizer />
	</main>
</Layout>
