---
import Randomizer from '../components/Randomizer';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Mariokart randomizer">
	<h1 class="text-center text-3xl font-bold text-gray-50">
		Mario kart setup randomizer
	</h1>
	<Randomizer client:load />
</Layout>
