---
import { ItemRandomizer } from '../components/ItemRandomizer';
import Page from '../layouts/Page.astro';
---

<Page title="Mariokart randomizer - Items">
	<h1 class="text-center text-3xl font-bold text-gray-50">
		Mario kart item randomizer
	</h1>
	<ItemRandomizer client:load />
</Page>
