---
import { Randomizer } from '../components/Randomizer';
import Page from '../layouts/Page.astro';
import { courses } from '../gameInfo';
---

<Page title="Mariokart randomizer">
	<h1 class="text-3xl font-bold text-gray-50">Mario kart randomizer</h1>
	<Randomizer client:load boxes={[courses]} initialItem={courses[0]} />
</Page>
