---
import background from '../assets/background-ultra-low.jpg';
---

<img
	src={background}
	alt="mario kart background"
	class="fixed inset-0 -z-[1] min-h-screen w-screen max-w-none object-cover blur-[6px]"
	loading="eager"
/>
<div class="fixed inset-0 -z-[1] bg-slate-900 opacity-60"></div>
