---
import Nav from './Nav.astro';
import NavItem from './NavItem.astro';
---

<header class="fixed top-0 z-20 flex w-full justify-center">
	<Nav>
		<NavItem href="/">Setup</NavItem>
		<NavItem href="/items">Items</NavItem>
		<NavItem href="/course">Course</NavItem>
	</Nav>
</header>
