---
import background from '../assets/background-low.jpg';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col justify-center min-h-screen">
		<img
			src={background}
			alt="mario kart background"
			class="fixed inset-0 object-cover w-screen min-h-screen max-w-none blur-[6px] -z-[1]"
			loading="eager"
		/>
		<div class="fixed inset-0 bg-slate-900 opacity-60 -z-[1]"></div>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: system-ui, sans-serif;
		background-color: #f6f6f6;
	}
</style>
